@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* font-family: "Berkshire Swash", cursive; */
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.drawer-side a.active {
  color: #fff;
}
.drawer-side a {
  background-color: transparent !important;
}

.drawer-side label.drawer-overlay {
  margin-top: 0 !important;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Berkshire Swash", cursive;
  /* font-size: 3.2em; */
  line-height: 1.1;
}
img {
  height: auto;
  max-width: 100%;
  display: block;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.drawer-side label.drawer-overlay {
  margin-top: 0 !important;
}
.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 1280px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  width: 100%;
  z-index: 0;
}
button:hover {
  color: #fff;
  cursor: pointer;
  background-color: #7795f8;
  transform: translateY(0px);
  box-shadow: none;
}
.primary-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
  background-color: #ffc222;
  border-radius: 8px;
  transition: 3s;
  min-height: 52px;
  height: 52px;
  width: 195px;
}
.primary-btn:hover {
  color: #fff;
  background-color: #000;
}
.primary-btn.second-btn {
  width: 147px;
  height: 46px !important;
  min-height: 46px;
  font-size: 12px;
  border-radius: 6px;
}
nav.z-10.md\:hidden.flex.flex-col.justify-between.overflow-x-hidden.bg-white.max-w-\[305px\].space-y-6.px-2.py-4.absolute.inset-y-0.left-0.transform.false.md\:translate-x-0.transition.duration-200.ease-in-out {
  position: static;
}
label {
  color: transparent;
  font-weight: 300;
  letter-spacing: 0.025em;
  margin-top: 0 !important;
  display: block;
}
.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 30px;
  color: #ffc222;
}
.single-item img:hover {
  transform: scale(1.3);
}
.single-item img {
  overflow: hidden;
  transition: 0.3s;
}
.gallery-items .slick-track {
  height: 520px;
}
.gallery-items .slick-track img {
  position: relative !important;
  z-index: 0;
  transition: 0.4s;
}
.gallery-items .slick-track img::after {
  position: absolute !important;
  content: "";
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.4;
  left: 0;
  top: 0;
  z-index: 99;
}
.gallery-items .slick-track img:hover {
  transform: scale(1.2);
}
.post-thumbnail {
  overflow: hidden;
}
.post-inner {
  border: 1px solid;
  border-color: #e5e5e5;
  border-radius: 8px;
  overflow: hidden;
  height: 100%;
  transition: all 0.3s ease;
}
.post-thumbnail img {
  transition: all 0.3s ease;
}

.post-inner:hover .post-thumbnail img {
  -ms-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.entry-content {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.md\:basis-3\/5.flex.gap-3.justify-center.items-center.w-full.image-box
  img:hover {
  transform: scale(1.2);
}
.md\:basis-3\/5.flex.gap-3.justify-center.items-center.w-full.image-box img {
  overflow: hidden;
  transition: 0.3s;
}

.order-food .react-tabs__tab {
  padding: 8px 16px;
}
.order-food .react-tabs__tab--selected {
  background: #ffc222;
  border-color: #ffc222;
  color: #fff;
}
.item-group .slick-slide {
  padding: 0 6px;
  height: 130px;
}
.single-menu-item:hover h2 {
  color: #ffc222;
}
.product-cat-link:hover .category-product-img img {
  transform: scale(1.1);
}
.slick-prev,
.slick-next {
  display: none !important;
}
.slick-prev:before,
.slick-next:before {
  display: none !important;
}
ul.slick-dots {
  display: none !important;
}
.banner-area {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.banner-area.bg-1 {
  background: url("./assets/hero_bg_4.jpg");
}
.banner-area.bg-2 {
  background: url("./assets/hero_bg_2.jpg");
}
.banner-area.bg-3 {
  background: url("./assets/hero_bg_3.jpg");
}
.banner-area.bg-4 {
  background: url("./assets/hero_bg_1.jpg");
}
